### Made by : <u><i>Shailee R. Desai</i></u>

# String

+ Strings : objects that contain sequences of character data.

+ Data type: str (Text type)

+ Mutability : Immutable

## Operators

+ Operators + and * are also used with Strings.

In [2]:
first_name = "Shailee" # first_name = 'Shailee' we can declare string in any of single and double quotes. It means same.
middle_name = "R."
last_name = "Desai"

full_name = first_name + middle_name + last_name
full_name

'ShaileeR.Desai'

In [6]:
print(full_name)

ShaileeR.Desai

#### Practice : Add space between first_name , middle_name and last_name

+ concatenation operator : +
+ formatting operator : %

In [4]:
print(first_name+ " "+ middle_name)

Shailee R.

In [5]:
age = 22

# %-formatting : Option 1
print("My name is %s %s %s and I'm %d years old." %(first_name, middle_name, last_name, age))

# str.format() : option 2
print("My name is {} {} {} and I'm {} years old." .format(first_name, middle_name, last_name, age))
print("My name is {2} {0} {1} and I'm {3} years old." .format(middle_name, last_name, first_name, age))

# f-strings : option 3 (Best Approach)
print(f"My name is {first_name} {middle_name} {last_name} and I'm {age} years old.")

My name is Shailee R. Desai and I'm 22 years old.
My name is Shailee R. Desai and I'm 22 years old.
My name is Shailee R. Desai and I'm 22 years old.
My name is Shailee R. Desai and I'm 22 years old.

### Other Operators for String

1. [ ]
2. in
3. not in 
4. r/R - raw string operator

### Slicing operator [ ]
+ important : start < end
+ if step positive integer (>=0) :
    + [start, end , step]
+ if step negative integer (<0):
    + [end, start, step]

<img src="Slicing_string.JPG">

In [11]:
name_1 = "Shailee"
print(name_1[2])
print(name_1[::-1])

a
eeliahS

In [7]:
message = "Welcome! to Python Course."

print(message[:])
print(message[7:12])
print(message[7:40])
print(message[-6:-2])
print(message[20:24])
print(message[2:-14])
print(message[-14:23])


print(message[::])
print(message[2:16:2])
print(message[-24:-18:2])
print(message[-8:0:2])


print(message[9:2:-1])
print(message[-9:-23:-1])
print(message[-2:8:-1])
print(message[::-1])

Welcome! to Python Course.
! to
! to Python Course.
ours
ours
lcome! to
Python Cour
Welcome! to Python Course.
loe oPt
loe

t !emoc
nohtyP ot !emo
esruoC nohtyP ot
.esruoC nohtyP ot !emocleW

Try this:

In [9]:
print(message[-2:-6:2])
print(message[12:7])
print(message[12:7:-1])
print(message[-2:-6])
print(message[-2:-6:-1])
print(message[2:9:-1])

P ot

esru

### Membership operator : 'in' and 'not in'

In [10]:
name = "Shailee R. Deai"
print("s" in name)
print("b" in name)
print("esa" in name)

print("S" not in name)
print("b" not in name)
print("shailee" not in name)

False
False
False
False
True
True

### Raw string operator : r/R

In [15]:
print(r"this is used for tab \t ")
print("this is tab \n command")

this is used for tab \t
this is tab
 command

##  Basic Built-in String Methods

+ count()
+ index()
+ isalnum()
+ isalpha()
+ isdigit()
+ islower()
+ isupper()
+ isnumeric()
+ join()
+ len()
+ lower()
+ upper()
+ split()

In [16]:
welcome_msg = "This is python basics tutorial."
print(welcome_msg.count("is"))
y = welcome_msg.index("is")
print(welcome_msg.index("is",y+1))
print(welcome_msg.isalnum())

2
5
False

In [26]:
str_1 = "students"

print(str_1.isalnum())
print(str_1.islower())
print(str_1.isupper())
print(len(str_1))
print(str_1.upper())

True
True
False
8
STUDENTS

In [24]:
list1= ["shailee", "Desai"]
print(",".join(list1))

shailee,Desai

In [27]:
str_1="shailee R. Desai"
f_name = str_1.split(" ")
print(f_name)

['shailee', 'R.', 'Desai']

In [ ]:
#12 13 14
list_num = input("Enter Numbers").split(",")

### String : Immutable

In [1]:
st = "Shailee"
print(id(st))

513219564208

In [3]:
st[0]="s" #we cannot change elements by indexing. Therefore it is Immutable.

TypeError: 'str' object does not support item assignment

In [4]:
st = "shaile Desai"
print(id(st))

513219710384

In [5]:
st1 = "Students"
for i in range(3):
    st1 += "hello" #st1 = st1 + "hello"
    print(id(st1))

513219647984
513219560512
513219560512